# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/

# Jupyter
.ipynb_checkpoints/

# Data (raw + intermediate + external + processed)
data/raw/
data/interim/
data/processed/
data/external/

# Experiments / outputs
experiments/
reports/metrics/
reports/figures/

# OS
.DS_Store
